.app {
    height: 100vh;
    overflow: hidden;
    background-color: #282c34;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    .place-form {
        display: flex;
        justify-content: center;
        align-items: center;

        .zip-code-form, .place-name-form {
            display: flex;
            flex-direction: column;
            height: 60px;
            width: 200px;
        }

        .or {
            margin: 0 1rem;
        }

        .error, .hint {
            font-size: 75%;
        }

        .error {
            color: #fc6b6b;
        }
    }

    .weather {
        margin-top: 1rem;
        width: 500px;
        padding: 0.75rem 1rem 0.75rem 0.25rem;
        background-color: #353d49;
        border-radius: 5px;
    }

    .current-weather-header {
        display: flex;
        justify-content: space-between;

        .header-left {
            display: flex;
            align-items: flex-start;

            .weather-icon {
                display: flex;
                align-items: center;
            }

            .temperature {
                font-size: 50px;
                line-height: 50px;
            }

            .header-left-weather-info {
                margin-left: 0.5rem;
                display: flex;
                flex-direction: column;
                font-size: 75%;
            }
        }

        .header-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .location {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }
    }

    .forecast {
        .forecast-header {
            width: 100%;
            text-align: center;
            margin: 0.5rem;
            font-size: 120%;
        }

        .forecast-list {
            display: flex;
            justify-content: space-around;

            .weather-block {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
